rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Product images: products/{userId}/{productId}.jpg
    match /products/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Ad images: {userId}/{adId}.jpg
    match /{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
